body {
  font: 15px/1.5 arial, helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul{
  margin: 0;
  padding: 0;
}

.Dark {
  padding: 15px;
  background: #35424A;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button_1 {
  height: 38px;
  background: #00CA00;
  border: 0;
  padding: 0 20px;
  color: #fff;
  cursor: pointer;
}

header {
  background-color: #35424A;
  color: #fff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #00CA00 3px solid;
}

header a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li {
  float:left;
  display: inline;
  padding: 0 20px;
}

header #bar {
  float:left;
}

header #bar h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 10px;
}

header .colored, header .selected a {
  color: #00CA00
}

header a:hover {
  color: #ccc;
  font-weight: bold;
}

#Paralax {
  min-height: 400px;
  background: url("../img/Banner.png") no-repeat;
  text-align: center;
  color: #fff;
}

#Paralax h1 {
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}

#Paralax p {
  font-size: 20px;
}

#Top {
  margin-top: 20px;
}

#Top .item {
  float: left;
  width: 30%;
  padding: 10px;
  text-align: center;
}

#Top .item img {
  width: 90px;
}

article#Main {
  float: left;
  width: 64%;
}

aside#sidebar {
  float:right;
  width: 30%;
  margin-top: 10px;
}

aside#sidebar .job input, aside#sidebar .job textarea {
  width: 90%;
  padding: 5px;
}

ul#Code li{
  list-style: none;
  padding: 20px;
  border: #ccc solid 1px;
  margin-bottom: 5px;
  background: #e6e6e6;
}

footer {
  padding: 20px;
  margin-top: 20px;
  color: #fff;
  background-color: #00CA00;
  text-align: center;
}

@media(max-width: 768px) {
  header #bar,
   header nav,
  header nav li,
  #Top .item,
  article#Main,
  aside#sidebar {
    float:none;
    text-align: center;
    width: 100%;
  }

  header {
    padding-bottom: 20px;
  }

  #Paralax h1 {
    margin-top: 40px;
  }

  .job button {
    width: 100%;
    display: block;
  }

  .job input, .job textarea {
    width: 100%;
    margin-bottom: 5px;
  }
}
