a:hover div {
    animation: scaleAnim .1s linear;
    transform: scale(1.02);
}

@keyframes scaleAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.02);
    }
}

@keyframes scaleAnimDown {
    from {
        transform: scale(1.02);
    }
    to {
        transform: scale(1);
    }
}

a div {
    animation: scaleAnimDown .1s linear;
    transform: scale(1);
}

.svgimg {
    height: 30em;
}

@media only screen and (max-width: 600px) {
    .svgimg {
        height: initial;
    }
}