html {
  font-family: sans-serif;
}

#Header ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: #333;
  position: fixed;
  width: 100%;
}

#Header li {
  float: left;
}
#Header li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#Header li a:hover {
  background-color: #000;
}

#Header .selected {
  background-color: #009898;
}

#Header .selected a:hover {
  background-color: #009898;
  cursor: default;
}

#Header #HeadImg {
  background-image: url("Banner.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 500px;
}

#Content .boxSmall {
  width: 20%;
  height: 200px;
  text-align: center;
  display: inline-block;
  padding: 10px;
  margin: 5px;
  background-color: #eee;
  border-radius: 3%;
  float:left
}

#Content .boxBig {
  width: 78%;
  height: 200px;
  display: inline-block;
  padding: 10px;
  margin: 5px;
  background-color: #eee;
  border-radius: 3%;
  float:right
}
